@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Lato:200,300,400,700');

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 10px;
}

html, body {
    min-height: 100%;
}

main {
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    width: 99%;
    margin: 0 auto;
    margin-top:1.5%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    padding: 12rem;
    font-size: 1.8rem;
}

article {
    opacity: .8;
    line-height: 2em;
}

h1 {
    font-family: 'Playfair Display', sans-serif;
    font-size: 4.2rem;
}

p:first-of-type:first-letter {
    font-family: 'Playfair Display', sans-serif;
    margin:2.5rem  2rem 2rem 0;
    float: left;
    font-size: 11rem;
    display: inline-block;

}

i{
    font-style: italic;
    font-size: 2.4rem;
}
i:before{
    content: "“ ";
    font-size: 4rem;
}

a {
    margin: 3rem 0;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    padding: 2.5rem 9.5rem;
    text-transform: uppercase;
    border: 2px solid #eaa258;
    color: #eaa258;
}
a:hover {
  color: #EC5A62;
  background: rgba(118, 117, 128, 0.1);
  }